@charset "UTF-8";
html {
  box-sizing: border-box; }

body {
  background-image: linear-gradient(to top, white 0%, white 60%, #e9ebff 100%);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

ul, ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0; }

img {
  max-width: 100%;
  height: auto; }

a:focus,
a:hover {
  text-decoration: none; }

@media only screen and (max-width: 1200px) and (min-width: 0) {
  .container {
    width: 90% !important;
    min-width: auto !important;
    margin: 0 auto; } }

.brand {
  text-align: center;
  padding: 2em 0; }
  .brand-img-desc {
    text-transform: none;
    color: #026fb3;
    font-size: 14px;
    line-height: 1.22em;
    display: block;
    padding-top: 4px; }

.page-title {
  color: #026fb3;
  font-size: 24px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center; }

.m-20 {
  margin-bottom: 20px; }

.m-25 {
  margin-bottom: 25px; }

.m-40 {
  margin-bottom: 40px; }

.m-60 {
  margin-bottom: 60px; }

.m-80 {
  margin-bottom: 80px; }

.pad-3 {
  padding: 3em 0 1.5em; }

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none; }

.bg-white {
  position: relative;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff; }

.bg-lg {
  width: 100%;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ebecff;
  background-size: cover; }

.bg-paper {
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%; }

.bg-under-height {
  background-image: url("../images/bg-under.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 280px; }

.bg-under {
  background-image: url("../images/bg-under.png");
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  width: 100%; }

.bg-white-overlay {
  position: relative;
  z-index: 1; }
  .bg-white-overlay:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.83;
    background-color: white; }

.bg-orange {
  background-color: #f39c12; }

.icon-wrap1 {
  background-color: #1abc9c; }

.icon-wrap2 {
  background-color: #e6400c; }

.icon-wrap3 {
  background-color: #9b59b6; }

.icon-wrap4 {
  background-color: #2ecc71; }

.icon-wrap5 {
  background-color: #3498db; }

.mackbook-bg {
  background-image: url(../images/macbook.png);
  background-repeat: no-repeat;
  background-position: 100% center;
  background-size: 50%;
  overflow: hidden;
  height: 500px; }

.block-collapse {
  padding: 0 !important; }

.block-overlay {
  position: relative;
  z-index: 1; }
  .block-overlay:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.37;
    background-color: #000; }

.block-info {
  position: relative;
  color: #000;
  text-align: center;
  text-transform: uppercase; }
  .block-info span {
    color: #0a73b5; }
  .block-info-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px; }
  .block-info-blue {
    color: #026fb3;
    font-size: 24px; }
    .block-info-blue-title {
      font-weight: 700;
      text-transform: uppercase; }
    .block-info-blue-desc {
      font-size: 18px;
      margin-bottom: 60px; }
  .block-info-before:before {
    position: absolute;
    top: -150px;
    left: 50%;
    margin-left: -3px;
    width: 6px;
    height: 100px;
    content: '';
    background: url(../images/vertical-line.png) no-repeat center center;
    z-index: 100; }
  .block-info-light {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 3em 0;
    font-size: 18px; }
    .block-info-light-overlay {
      position: relative;
      z-index: 1; }
      .block-info-light-overlay:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0.83;
        background-color: silver;
        background-image: linear-gradient(-47deg, #0a73b5 0%, #56d17e 100%); }
  .block-info-desc {
    text-transform: none;
    position: relative;
    z-index: 1;
    font-size: 16px;
    line-height: 1.5em;
    padding: 30px 0; }
    .block-info-desc:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      opacity: 0.2;
      background-color: #000; }

.btn {
  display: inline-block;
  color: #fff;
  background-color: #63c980;
  border-color: #55d17d;
  text-transform: uppercase;
  padding: 9px 18px;
  line-height: 1.1em;
  font-size: 14px;
  border-radius: 20px;
  transition: all .3s linear; }
  .btn:hover, .btn:focus, .btn.focus {
    color: #55d17d;
    background-color: transparent; }
  .btn-normal {
    background-color: transparent;
    border-color: #fff;
    padding: 9px 40px; }

.button-base,
.button-base:active,
.button-base:visited,
.button-base:focus {
  border-radius: 35px !important;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding: 9px 39px;
  overflow: hidden;
  cursor: pointer;
  transition: all .3s linear; }

.button-base.green-light {
  background: transparent;
  border: 1px solid #55d17d;
  color: #55d17d;
  display: inline-block; }

.button-base.green-light:hover {
  background: #55d17d;
  color: #fff; }

.button-base.gray {
  border: 1px solid #d4d4d4;
  color: #262626;
  background: #d4d4d4; }

.button-base.white {
  border: 1px solid #fff;
  color: #fff; }

.button-base.white:hover {
  background: #fff;
  color: #262626; }

.btn-base.left-arrow-white {
  padding-left: 50px;
  background: url(../images/arrow-sprite.png) no-repeat scroll 0 -326px;
  color: #fff; }

.btn-base.left-arrow-white:hover {
  color: #026fb3;
  background: url(../images/arrow-sprite.png) no-repeat scroll 0 -5px; }

.btn-base.left-arrow {
  padding-left: 50px;
  background: url(../images/arrow-sprite.png) no-repeat 0px -3px; }

.btn-base:hover {
  color: #55d17d; }

.btn-base.left-arrow:hover {
  background: url(../images/arrow-sprite.png) no-repeat 0px -62px;
  cursor: pointer; }

@media (min-width: 992px) {
  navbar-toggle {
    display: none; } }

header {
  position: relative;
  z-index: 200; }

.navbar {
  background-color: transparent;
  border: none; }
  .navbar-brand {
    padding: 0;
    margin-right: 50px; }
    .navbar-brand-dscr {
      text-transform: none;
      color: #026fb3;
      font-size: 9px;
      line-height: 11px;
      display: block;
      padding-top: 4px; }
  .navbar-nav {
    padding: 0.5em 0; }
    .navbar-nav li > a {
      color: #262626;
      font-size: 14px;
      text-transform: uppercase;
      padding: 9px 15px; }
    .navbar-nav li > .dropdown-menu {
      border-bottom: 3px solid #6c6;
      padding: 0; }

@media (min-width: 768px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block; } }

@media screen and (max-width: 991px) {
  .navbar-nav li > a {
    padding: 5px; } }

@media screen and (max-width: 767px) {
  .navbar-default .navbar-toggle {
    float: none;
    text-align: center;
    margin: 10px auto;
    display: block;
    border-color: #b2b2b2; }
  .navbar-brand {
    float: none;
    display: block;
    text-align: center;
    margin: 0 auto; }
    .navbar-brand img {
      display: inline-block; }
  .navbar-nav .open .dropdown-menu {
    text-align: center; }
  .navbar-default .navbar-collapse {
    background-color: #FFF;
    opacity: 0.9; } }

.navbar-nav {
  padding: 0.5em 0;
  text-align: center; }

.navbar-default .navbar-nav li > a:hover,
.navbar-default .navbar-nav li > a:focus {
  color: #6c6; }

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  color: #6c6;
  background-color: transparent; }

.navbar-default .navbar-nav .dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .dropdown-menu > li > a:hover {
  color: #fff;
  background-color: #6c6; }

@media screen and (max-width: 767px) {
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:focus,
  .navbar-default .navbar-nav > .open > a:hover {
    border-bottom: 1px solid #6c6; } }

.main-menu.authorization-menu {
  position: absolute;
  right: 0;
  z-index: 1;
  margin-right: 30px;
  display: inline-block;
  padding: 1em 0; }
  .main-menu.authorization-menu li {
    float: left;
    list-style-type: none; }
  .main-menu.authorization-menu li > a {
    padding: 10px; }

@media screen and (max-width: 767px) {
  .main-menu.authorization-menu {
    right: 50px; } }

@media screen and (max-width: 767px) {
  .main-menu.authorization-menu {
    position: static;
    z-index: 1;
    display: block;
    text-align: center;
    margin: 10px auto; }
    .main-menu.authorization-menu li {
      float: none;
      display: inline-block; } }

.video-section-wrapper {
  background: #f39c12;
  margin-top: 30px; }

.video-section-inner {
  padding: 2em; }

.video-section-inner-bg {
  background: url(../images/bg-video.png) repeat-y right top;
  background-size: 29% 100%;
  padding: 2em; }

.video-section-letter {
  padding-top: 11px;
  text-align: center;
  margin-left: 5px;
  margin-top: 15px;
  background: #f39c12;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  width: 40px;
  height: 40px;
  border: 1px solid #e67e22;
  border-radius: 50% !important; }

.video-section-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 26px;
  text-align: right;
  padding: 8px 50px 0; }
  .video-section-title span {
    display: block;
    font-size: 14px;
    line-height: 16px;
    padding-top: 8px; }

.video-section-btns {
  padding-top: 3em; }

@media screen and (max-width: 767px) {
  .video-section-wrapper {
    margin-top: 0; }
  .video-section-letter {
    margin-left: 180px;
    margin-top: 0; }
  .video-section-inner-bg {
    background-size: 0; } }

.btn-play {
  color: #fff;
  padding: 8px 50px 0; }
  .btn-play:hover {
    color: #55d17d;
    text-decoration: none; }
  .btn-play-icon {
    background: url(../images/ic-play.png) no-repeat 53% center #494949;
    width: 70px;
    height: 70px;
    border-radius: 50% !important;
    display: inline-block;
    vertical-align: middle;
    position: relative; }
    .btn-play-icon:hover {
      background-color: #55d17d; }
  .btn-play-link {
    display: inline-block;
    vertical-align: middle;
    padding-left: 30px; }
    .btn-play-link span {
      font-size: 24px;
      line-height: 26px;
      padding-bottom: 7px;
      display: block;
      text-transform: uppercase; }

.cover {
  /* задний фон по умолчанию не виден, его цвет черный, он занимает всё пространство по высоте и ширине, его позиция фиксирована , то есть при скроллинге он никуда не денется */
  display: none;
  height: 100%;
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #000; }

.sprite3 {
  background-image: url(../images/about/spritesheet.png);
  background-repeat: no-repeat;
  display: block; }

.sprite3-icon-comfort {
  width: 66px;
  height: 66px;
  background-position: -5px -5px; }

.sprite3-icon-easy-conference {
  width: 66px;
  height: 66px;
  background-position: -81px -5px; }

.sprite3-icon-efficiency-mark {
  width: 66px;
  height: 66px;
  background-position: -5px -81px; }

.sprite3-icon-info {
  width: 66px;
  height: 66px;
  background-position: -81px -81px; }

.sprite3-icon-language {
  width: 66px;
  height: 66px;
  background-position: -157px -5px; }

.sprite3-icon-many {
  width: 64px;
  height: 64px;
  background-position: -157px -81px; }

.sprite3-icon-time {
  width: 66px;
  height: 66px;
  background-position: -157px -155px; }

.sprite3-icon-world {
  width: 66px;
  height: 66px;
  background-position: -233px -5px; }

.sprite2 {
  background-image: url("../images/map/spritesheet.png");
  background-repeat: no-repeat;
  display: block; }

.sprite2-atol {
  width: 67px;
  height: 42px;
  background-position: -10px -10px; }

.sprite2-cake {
  width: 30px;
  height: 30px;
  background-position: -97px -10px; }

.sprite2-epam {
  width: 231px;
  height: 82px;
  background-position: -147px -10px; }

.sprite2-gran {
  width: 67px;
  height: 39px;
  background-position: -398px -10px; }

.sprite2-kulinichi {
  width: 238px;
  height: 238px;
  background-position: -10px -112px; }

.sprite2-mic {
  width: 227px;
  height: 152px;
  background-position: -485px -10px; }

.sprite2-mir {
  width: 70px;
  height: 18px;
  background-position: -268px -182px; }

.sprite2-mts {
  width: 70px;
  height: 36px;
  background-position: -358px -182px; }

.sprite2-oktell {
  width: 68px;
  height: 20px;
  background-position: -448px -182px; }

.sprite2-plarium {
  width: 226px;
  height: 177px;
  background-position: -448px -222px; }

.sprite2-slide-logo {
  width: 51px;
  height: 38px;
  background-position: -10px -419px; }

.sprite2-var1 {
  width: 30px;
  height: 30px;
  background-position: -694px -182px; }

.sprite2-var2 {
  width: 30px;
  height: 30px;
  background-position: -268px -232px; }

.sprite2-var3 {
  width: 30px;
  height: 30px;
  background-position: -694px -232px; }

.sprite2-var4 {
  width: 33px;
  height: 33px;
  background-position: -268px -282px; }

.sprite2-var5 {
  width: 30px;
  height: 30px;
  background-position: -321px -282px; }

.sprite2-var6 {
  width: 30px;
  height: 30px;
  background-position: -371px -282px; }

.sprite2-var7 {
  width: 30px;
  height: 30px;
  background-position: -694px -282px; }

.sprite2-var8 {
  width: 30px;
  height: 30px;
  background-position: -321px -332px; }

.sprite2-var9 {
  width: 30px;
  height: 30px;
  background-position: -371px -332px; }

.sprite2-vidnoye {
  width: 70px;
  height: 53px;
  background-position: -81px -419px; }

.sprite2-wog {
  width: 66px;
  height: 66px;
  background-position: -171px -419px; }

.sprite2-yeastar {
  width: 70px;
  height: 23px;
  background-position: -257px -419px; }

.sprite {
  background-image: url(../images/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block;
  margin: 3px;
  opacity: 1;
  transition: opacity .3s linear; }
  .sprite:hover {
    opacity: 0.5; }

.sprite-card-icon1 {
  width: 30px;
  height: 30px;
  background-position: -5px -5px; }

.sprite-card-icon2 {
  width: 30px;
  height: 30px;
  background-position: -5px -45px; }

.sprite-card-icon3 {
  width: 30px;
  height: 30px;
  background-position: -5px -85px; }

.sprite-card-icon4 {
  width: 25px;
  height: 30px;
  background-position: -5px -125px; }

.sprite4 {
  background-image: url(../images/application/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block; }

.sprite4-basket {
  width: 18px;
  height: 23px;
  background-position: -10px -10px; }

.sprite4-basket-h {
  width: 40px;
  height: 40px;
  background-position: -10px -53px; }

.sprite4-checked {
  width: 22px;
  height: 16px;
  background-position: -10px -113px; }

.sprite4-checked-b {
  width: 41px;
  height: 34px;
  background-position: -10px -149px; }

.sprite4-checked-t {
  width: 31px;
  height: 28px;
  background-position: -10px -203px; }

.sprite4-close {
  width: 27px;
  height: 27px;
  background-position: -10px -251px; }

.sprite4-danger {
  width: 37px;
  height: 37px;
  background-position: -10px -298px; }

.sprite4-mini-check {
  width: 10px;
  height: 10px;
  background-position: -10px -355px; }

.sprite4-pencil {
  width: 22px;
  height: 26px;
  background-position: -10px -385px; }

.sprite4-pencil-h {
  width: 40px;
  height: 40px;
  background-position: -10px -431px; }

html,
body {
  height: 100%; }

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden; }

.wrapper > .content {
  padding-bottom: 60px;
  height: 100%; }

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #272626;
  color: #fff;
  font-size: 12px;
  padding: 3px 0 1.5px;
  display: block;
  margin: 0;
  outline: none;
  z-index: 1;
  line-height: 2em; }
  #footer .footer-left {
    padding: 1em 0; }
  #footer ul.footer-menu {
    float: right;
    margin: 0;
    padding: 0; }
    #footer ul.footer-menu li {
      margin-left: 0; }
  #footer a.social-networks {
    margin-right: 10px;
    transition: all 0.5s linear; }
    #footer a.social-networks:hover {
      -webkit-filter: grayscale(100%);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(100%); }

.copyright {
  color: #cfd0e4;
  padding-top: 0;
  text-align: left; }

.list-unstyled {
  padding-left: 0;
  list-style: none; }

@media screen and (max-width: 767px) {
  #footer {
    height: auto;
    text-align: center; } }

@media screen and (max-width: 479px) {
  #footer ul.footer-menu {
    float: none; }
  #footer a.social-networks {
    margin-right: 5px; }
  #footer .pull-right {
    float: none !important;
    display: inline-block; }
  .copyright {
    text-align: center; } }

.terms-of-usage {
  padding: 3em 2em; }
  .terms-of-usage ul {
    list-style-type: disc;
    padding-left: 40px; }
  .terms-of-usage .logo-dscr {
    text-transform: none;
    color: #026fb3;
    font-size: 9px;
    line-height: 11px;
    display: block;
    padding-top: 4px; }

.show-terms-of-usage {
  outline: none; }
  .show-terms-of-usage:focus {
    outline: none; }

#rules-modal_frame {
  display: none; }

#rules-modal-print {
  position: fixed;
  margin-left: -20px; }
  #rules-modal-print:hover {
    opacity: 0.8; }

#rules-modal {
  padding-right: 0px !important; }
  #rules-modal iframe {
    width: 100%;
    height: 500px;
    border: none;
    padding: 0 2px; }
  #rules-modal .modal-dialog {
    width: 98%; }
  #rules-modal .modal-content {
    padding: 0;
    background-color: #e9ebff; }
  #rules-modal .modal-body {
    padding: 10px 0; }
    #rules-modal .modal-body .close {
      color: #55d17d;
      font-size: 40px;
      opacity: 1;
      outline: none;
      position: absolute;
      right: 3%; }
      #rules-modal .modal-body .close:hover {
        opacity: 0.8; }
      #rules-modal .modal-body .close:focus {
        outline: none; }

@media screen and (max-width: 767px) {
  .modal-body .close {
    right: 7%;
    top: 0; }
  #rules-modal-print {
    margin-left: -12px; } }

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  p:first-letter,
  div:first-letter,
  blockquote:first-letter,
  li:first-letter,
  p:first-line,
  div:first-line,
  blockquote:first-line,
  li:first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }
