@charset "UTF-8";
body {
  background-image: linear-gradient(to top, white 0%, #e9ebff 100%);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

html,
body {
  margin: 0; }

ul, ol {
  padding-left: 0; }

img {
  max-width: 100%;
  height: auto; }

.brand {
  text-align: center;
  padding: 2em 0; }
  .brand-img-desc {
    text-transform: none;
    color: #026fb3;
    font-size: 14px;
    line-height: 1.22em;
    display: block;
    padding-top: 4px; }

.pad-3 {
  padding: 3em 0 1.5em; }

.bg-lg {
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ebecff;
  background-size: cover;
  overflow: hidden; }

.bg-paper {
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%; }

.bg-under-height {
  background-image: url("../images/bg-under.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 280px; }

.bg-under {
  background-image: url("../images/bg-under.png");
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  width: 100%; }

.bg-white-overlay {
  position: relative;
  z-index: 1; }
  .bg-white-overlay:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.83;
    background-color: white; }

.bg-orange {
  background-color: #f39c12; }

.icon-wrap1 {
  background-color: #1abc9c; }

.icon-wrap2 {
  background-color: #e6400c; }

.icon-wrap3 {
  background-color: #9b59b6; }

.icon-wrap4 {
  background-color: #2ecc71; }

.icon-wrap5 {
  background-color: #3498db; }

.mackbook-bg {
  background-image: url(../images/macbook.png);
  background-repeat: no-repeat;
  background-position: 100% center;
  background-size: 50%;
  overflow: hidden;
  height: 500px; }

.block-collapse {
  padding: 0 !important; }

.block-info {
  position: relative;
  color: #000;
  text-align: center;
  text-transform: uppercase; }
  .block-info span {
    color: #0a73b5; }
  .block-info-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px; }
  .block-info-blue {
    color: #026fb3;
    font-size: 24px; }
    .block-info-blue-title {
      font-weight: 700;
      text-transform: uppercase; }
    .block-info-blue-desc {
      font-size: 18px;
      margin-bottom: 60px; }
  .block-info-before:before {
    position: absolute;
    top: -150px;
    left: 50%;
    margin-left: -3px;
    width: 6px;
    height: 100px;
    content: '';
    background: url(../images/vertical-line.png) no-repeat center center;
    z-index: 100; }
  .block-info-light {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 3em 0;
    font-size: 18px; }
    .block-info-light-overlay {
      position: relative;
      z-index: 1; }
      .block-info-light-overlay:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0.83;
        background-color: silver;
        background-image: linear-gradient(-47deg, #0a73b5 0%, #56d17e 100%); }
  .block-info-desc {
    text-transform: none;
    position: relative;
    z-index: 1;
    font-size: 16px;
    line-height: 1.5em;
    padding: 30px 0; }
    .block-info-desc:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      opacity: 0.2;
      background-color: #000; }

.btn {
  display: inline-block;
  color: #fff;
  background-color: #63c980;
  border-color: #55d17d;
  text-transform: uppercase;
  padding: 9px 18px;
  line-height: 1.1em;
  font-size: 14px;
  border-radius: 20px;
  transition: all .3s linear; }
  .btn:hover, .btn:focus, .btn.focus {
    color: #55d17d;
    background-color: transparent; }
  .btn-normal {
    background-color: transparent;
    border-color: #fff;
    padding: 9px 40px; }

.navbar {
  background-color: transparent;
  border: none; }
  .navbar-brand {
    padding: 0;
    margin-right: 50px; }
    .navbar-brand-dscr {
      text-transform: none;
      color: #026fb3;
      font-size: 9px;
      line-height: 11px;
      display: block;
      padding-top: 4px; }
  .navbar-nav li > a {
    color: #262626;
    font-size: 14px;
    text-transform: uppercase; }

.main-menu.authorization-menu {
  position: absolute;
  right: 0;
  z-index: 1;
  margin-right: 30px;
  display: inline-block; }
  .main-menu.authorization-menu li {
    float: left;
    list-style-type: none; }
  .main-menu.authorization-menu li > a {
    padding: 10px; }

@media screen and (max-width: 767px) {
  .main-menu.authorization-menu {
    right: 50px; } }

@media screen and (max-width: 479px) {
  .main-menu.authorization-menu {
    position: static;
    z-index: 1;
    display: block;
    text-align: center;
    margin: 10px auto; }
    .main-menu.authorization-menu li {
      float: none;
      display: inline-block; } }

.video-section-wrapper {
  background: #f39c12;
  margin-top: 105px; }

.video-section-inner {
  padding: 2em; }

.video-section-inner-bg {
  background: url(../images/bg-video.png) repeat-y right top;
  background-size: 29% 100%;
  padding: 2em; }

.video-section-letter {
  padding-top: 11px;
  text-align: center;
  margin-left: 53px;
  margin-top: 15px;
  background: #f39c12;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  width: 40px;
  height: 40px;
  border: 1px solid #e67e22;
  border-radius: 50% !important; }

.video-section-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 26px;
  text-align: right;
  padding: 8px 50px 0; }
  .video-section-title span {
    display: block;
    font-size: 14px;
    line-height: 16px;
    padding-top: 8px; }

.video-section-btns {
  padding-top: 3em; }

@media screen and (max-width: 767px) {
  .video-section-wrapper {
    margin-top: 0; }
  .video-section-letter {
    margin-left: 180px;
    margin-top: 0; }
  .video-section-inner-bg {
    background-size: 0; } }

.btn-play {
  color: #fff;
  padding: 8px 50px 0; }
  .btn-play:hover {
    color: #55d17d;
    text-decoration: none; }
  .btn-play-icon {
    background: url(../images/ic-play.png) no-repeat 53% center #494949;
    width: 70px;
    height: 70px;
    border-radius: 50% !important;
    display: inline-block;
    vertical-align: middle;
    position: relative; }
    .btn-play-icon:hover {
      background-color: #55d17d; }
  .btn-play-link {
    display: inline-block;
    vertical-align: middle;
    padding-left: 30px; }
    .btn-play-link span {
      font-size: 24px;
      line-height: 26px;
      padding-bottom: 7px;
      display: block;
      text-transform: uppercase; }

.cover {
  /* задний фон по умолчанию не виден, его цвет черный, он занимает всё пространство по высоте и ширине, его позиция фиксирована , то есть при скроллинге он никуда не денется */
  display: none;
  height: 100%;
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #000; }

#footer {
  background: #272626;
  color: #fff;
  font-size: 12px;
  padding: 4px 0;
  display: block;
  margin: 0;
  outline: none;
  line-height: 2em; }
  #footer ul.footer-menu {
    float: right;
    margin: 0;
    padding: 0; }
  #footer a.social-networks {
    margin-right: 10px;
    transition: all 0.5s linear; }
    #footer a.social-networks:hover {
      -webkit-filter: grayscale(100%);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(100%); }

.copyright {
  color: #cfd0e4;
  padding-top: 0; }

.list-unstyled {
  padding-left: 0;
  list-style: none; }
