.error{
  &-block{
    width: 30%;    
    text-align: center;
    position: absolute;
    top: 250px;
    left: 50%;
    margin-left: -15%;
    color: #fff;

  }
  &-heading,
  &-text{
    margin: 0;    
  }
  &-heading{
    font-size: 9vw;
    line-height: 1em;
    font-weight: 700;
    text-transform: uppercase;
  }
  &-text{
    font-size: 1.75vw;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px;

  }
  &-button{
    a.btn {
      padding: 10px 60px;
      
    }
  } 
}


@media screen and (max-width: 767px ) {
  .error{
    &-button{
      a.btn {
        padding: 5px 15px;
        font-size: 11px;        
      }
    }
  }
}

@media screen and (max-width: 479px ) {
  .error{
    &-block{
        vertical-align: top;
        padding: 160px 0;
    }
    &-button{
      a.btn {
        padding: 4px 10px;
       
      }
    }
  }
}