.error{
  &-block{
    text-align: center;
    color: #fff;
  }
  &-heading,
  &-text{
    margin: 0;    
  }
  &-heading{
    margin: 22% 0 0;
    font-size: 16vw;
    line-height: 1em;
    font-weight: 700;
    text-transform: uppercase;
  }
  &-text{
    font-size: 3vw;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 30px;

  }
  &-button{
    a.btn {
      padding: 10px 60px;
      
    }
  } 
}