.back-btn{
	color: #1c7ebb;
	font-size: 1.4rem;
	padding-left: 3em;
	text-transform: uppercase;
  background: url(../../images/arrow-sprite.png) no-repeat scroll 0 -5px;
}

.application{
	width: 95%;
	margin: 0 auto;
	background-color: white;
	color: #646464;	
	border-radius: 2px;
	box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.75), 0 0 24px rgba(38, 52, 142, 0.39);
	.alert{
		position: absolute;
		right: -32%;
		top: 0;
		border: 2px dashed yellow;
		background-color: transparent;
		span{
			vertical-align: top;
	    display: inline-block;
	    line-height: 3;
      color: red;
      padding-left: 1em;
		}
	}
	&-with-alert{
		position: relative;
	}
	&-heading{
		color: #026fb3;
		font-size: 2.4rem;
		line-height: 2.5em;
		text-transform: uppercase;
	}
	&-wrap-line{
		border-bottom: 1px solid #55d17d;
		margin-bottom: 1em;
	}
	&-title{ 
		text-align: center;
		font-size: 2.4rem;
		margin-bottom: 0.5em;
		&.green{
			color: #55d17d;
		}
	}
	&-text{
		color: #6c6c6c;
		font-size: 1.4rem;
		line-height: 1.125em;
		margin-bottom: 1em;
	}
	&-caption{
		&-text{
			font-size: 1.2rem;
			}
		}
	&-btn{
		text-transform: capitalize;
		width: 171px;
		padding: 9px;
		color: #646464 !important;
		&:active,
		&:hover,
		&:focus{
			text-transform: capitalize;
			padding: 9px;
			color: #fff !important;
		}
		&-choosed{
			background-color: #28b957 !important;
			color: #fff !important;
			&:before{
				content: '';
				display: inline-block;
				width: 22px;
				height: 16px;
				background-image: url(../../images/application/spritesheet.png) !important;
				background-repeat: no-repeat !important;
				background-position: -10px -113px !important;
			}			
		}
	}
	&-edit{
    height: 30px;
		margin-bottom: 10px;
		.sprite4-pencil-h{
			display: none;
		}
		&:hover{
			.sprite4-pencil-h{
				display: inline-block;
				margin-top: -5px;
		    margin-left: -10px;
			}
			.sprite4-pencil{
				display: none;
			}
		}
	}
	&-delete{
		.sprite4-basket-h{
			display: none;
		}
		&:hover{
			.sprite4-basket-h{
				display: inline-block;
				margin-top: -10px;
		    margin-left: -10px;
			}
			.sprite4-basket{
				display: none;
			}
		}
	}
	&-pavilion{
		&-icon{
			i{
				display: inline-block;
			}
		}
		&-name{
			color: #55d17d;
		}		
	}
	&-tarifs{
		width: 90%;
		margin: 0 auto 5em;
		background-color: #eefdff;
		border: 1px solid #29ddf6;
		padding: 1.5em;
		.application-btn{
			margin-left: -1.75em;
		}
		&-item{
			margin-bottom: 2em;		
			&-choosed{				
				.application-tarifs-name{
					color: #28b957;
				}
				.application-tarifs-info{
					color: #28b957;
				}
			}	
		}
		&-info{
			padding-bottom: 1.5em;
		}
		&-price{
			color: #28b957;
			font-size: 2rem;
		}
		&-name{
			color: #026fb3;
			font-size: 16px;
			text-transform: uppercase;
			span{
				color: #c2cbcd;
			}
		}
	}
	&-managers{
		width: 80%;
		margin: 0 auto 5em;
		border-bottom: 1px solid cyan;
		.application-text{
			margin-bottom: 3em;
		}
		&-item{
			margin-bottom: 2em;
			color: #96a3af;
		}
		&-name{
			color: #646464;
			text-transform: uppercase;
		}
	}
	.application-managers-info,
	.application-managers-controls,
	.application-managers-btn{
			    height: 130px;
		    padding: 1.5em 0;
	}

	    
	&-advertisement{
		width: 90%;
		margin: 0 auto;
	}

	.table{
		    margin-bottom: 5em;
		th{
			text-align: center;
	    padding: 8px 0;
	    line-height: 1.1 !important;
	    vertical-align: middle;
		}
		&-bordered{
			border-color: cyan;
		}
	}	

	&-services{
		padding-left: 1.5em !important;
	}

	&-minimal{
	 text-align: center;
	 color: #28b957;
	 font-size: 20px;
	 font-weight: 700;
	 small{
	 	font-size: 12px;
	 }
   position: relative;
	 z-index: 1;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
			opacity: 0.41;
			background-color: white;		
		}
	}
	&-medium{
		text-align: center;
	}
	&-prime{
		text-align: center;
	}
	&-services{
		&.text-center{
			font-size: 2.4rem;
			padding-left: 0 !important;
		}
	} 

	&-summary{
		border: 1px dashed cyan;
		padding: 1em 2.5em;
		font-size: 1.6rem;
    margin-bottom: .5em;
		.application-wrap-line{
			margin-bottom: 2em;
		}
		&-heading{			
			strong{
				font-size: 2.4rem;
				color: #55d17d;
			}
		}
		&-price{
			color: #55d17d;
			span{
				font-size: 1.2rem;
			}
			strong{
				font-size: 2.4rem;
				border-bottom: 1px solid #00deff;
			}
		}
	}
	&-agreement{
		margin-bottom: 5em;
		.alert{
		right: auto;
    top: 25px;}
		&-checkbox {
		  cursor: pointer;
		  input[type="checkbox"] {
  		  display: none;
  		}
		  span {
  		  line-height: 2;
  		  &:before {
				  margin-right: .5em;
		      margin-top: .25em;
		      padding-left: .05em;
		      width: 19px;
		      height: 19px;
		      border: 1px solid #b3b6ba;
		      display: inline-block;
		      line-height: 1;
		      content: '';
		      float: left;
				}
  		}
  		input[type="checkbox"]:checked + span::before {
			  font-family: 'Glyphicons Halflings';
			  content: '\e013';
			  color: #55d17d;
				font-weight: 100;
			}
		}
	}

	&-submit{
		.application-btn{
			font-size: 24px;
			width: 30%;
			padding: 20px;
		}
	}
}

.table-bordered>tbody>tr>td, 
.table-bordered>tbody>tr>th, 
.table-bordered>tfoot>tr>td, 
.table-bordered>tfoot>tr>th, 
.table-bordered>thead>tr>td, 
.table-bordered>thead>tr>th{
	border: none;
  border-right: 1px solid cyan;
}

.table-striped>tbody>tr:nth-of-type(odd){
	background-color: #ebebeb;
}

@media screen and (max-width: 1179px ) {
 .application{
	 .alert{position: static;}
	}
}
	@media screen and (max-width: 991px ) {
	 .application-tarifs .application-btn{
	 	margin-left: 0;
	 }
}
@media screen and (max-width: 767px ) {
  .application{
  	.application-managers-info,
  	.application-managers-controls,
  	.application-managers-btn{
  		    height: auto;
  		    padding: 0;
  	}
  	&-managers{
	    text-align: center;
  	}

  }	
  .application-submit .application-btn{
  	width: 50%;
  }
}

