body{
margin: 0;
background-color: #f5f7ff;
}
ul,ol{
	padding-left: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.block{
	&-collapse{
		padding: 0 !important;
	}
	&-bg-lg{
		background-image: url("../images/bg.png");
		background-repeat: no-repeat;
		background-position: center center;
		background-color: #ebecff;
    background-size: cover;
    overflow: hidden;
	}
}



