.btn{
	display: inline-block;
	color: #fff;
	background-color: #63c980; 
	border-color: #55d17d;
	  &:hover,
	  &:focus,
	  &.focus {
	    color: #55d17d;;
	    background-color: transparent; 
	  }
	text-transform: uppercase;
	padding: 9px 18px;
	line-height: 1.1em;
	font-size: 14px;
	border-radius: 20px;
	transition: all .3s linear;
	&-normal{
		background-color: transparent; 
		border-color: #fff;
		padding: 9px 40px;
	}
}

.button-base, 
.button-base:active, 
.button-base:visited, 
.button-base:focus{
	border-radius: 35px !important;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding: 9px 39px;
  overflow: hidden;
  cursor: pointer;
}

.button-base.green-light{
	background: transparent;
  border: 1px solid #55d17d;
  color: #55d17d;
  display: inline-block;
}

.button-base.green-light:hover{
	background: #55d17d;
	color: #fff;
}