#footer{
    background: #272626;
    color: #fff;
    font-size: 12px;
    padding: 4px 0;
    display: block;
    margin: 0;
    outline: none;    
    //add to existing styles 
    line-height: 2em;    
    ul.footer-menu{
    	float: right;
    	margin: 0;
    	padding: 0;
    }
    a.social-networks{
    	margin-right: 10px;
    	transition: all 0.5s linear; 
    	&:hover{
    		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    		    filter: grayscale(100%);
    	}
    }
}



.copyright{
	color: #cfd0e4;
  padding-top: 0;
}

.list-unstyled{
	padding-left: 0;
  list-style: none;
} 

