html {
  height: 100%;
}

#tv{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 2;
}

.close-video-main{
	z-index: 999999999999;
  display: block;
  height: 25px;
  width: 25px;
  margin: 10px 15px 0 0;
  background: url(../../images/svg/close.svg) no-repeat;
  background-size: cover;
}

.mute, .unmute{
	color: transparent;
	width: 29px;
	height: 24px;
	display: block;
	margin: -50px 0 0 25px;
}    

.mute{
    background: url(https://expouniverse.cf/bundles/sitebundlefrontend/images/sound-off.svg) no-repeat;
    background-size: cover;
}

.unmute{
	background: url(https://expouniverse.cf/bundles/sitebundlefrontend/images/sound-on.svg) no-repeat;
	background-size: cover;
}



.homepage{	
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #e9ebff;
	background-image: none;
	&-content{
		position: relative;	
		width: 100%;
	  &-info{
	  	position: relative;
	  	z-index: 2;
	  	width: 50%;
	  	height: 100%;
	  	margin-left: 40%;
	  	padding: 2% 0;
	  	text-align: left;
	  	h2{
	  		color: #026fb3;
	  		font-size: 2.5vw;
	  		line-height: 1.5;
	  		text-align: left;
	  		text-transform: uppercase;
	  		border: none;
	  	}
	  	.btn-play-link{
	  		color: #494949;	  		
	  	}
	  	.btn-play{
	  		&:hover{
	  			.btn-play-link{
  				color: #55d17d;}
  				.btn-play-icon{
  					background-color: #55d17d;
  				}
	  		}
	  	}
	  }
	}
	&-video{
		&-container{
				position: relative;
				width: 100%;
				background: url(../../images/bg_home.jpg) no-repeat #edeeff center center;
				background-size: cover;
				z-index: -150; 
		}
	}


	#homepage-video-bg {
		position: fixed;
	  transform: translateX(-50%) translateY(-50%);
	  top: 50%;
	  left: 50%;
	  min-width: 100%;
	  min-height: 100%;
	  width: 100%;
	  height: auto;
	  z-index: -100; 
		}

		.door .btn-base{
			position: absolute;
			bottom: auto;
			right: 10%;
			z-index: 2;
			padding-right: 80px;
		}

		.btn-base.right-arrow{
			background: url(../../images/arrow-sprite.png) no-repeat 100% -34px;
		}
		       
		.expohall-btn{
			text-transform: uppercase;
			font-weight: 400;
			font-size: 14px;
			color: #23527c;
			&:hover{
				text-decoration: none;
			}
		}
}
@media screen and (max-width: 1279px ) {
	.homepage{
		#homepage-video-bg {
			width: auto;
		}
	}
}
@media screen and (max-width: 1169px ) {
	.homepage{
		#homepage-video-bg {
		  left: 65%;
		  top: 65%;
		}
	}
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
	.homepage{
	#homepage-video-bg {
		width: auto;
		left: 93%;
		top: 50%;
	} 
		.door .btn-base{bottom: 10%;}	 
		.btn-play-link{display: none;}	
		.btn-play-icon{border: 2px solid #fff;}
	}
}
@media screen and (max-width: 991px ) {
	.homepage{
		#homepage-video-bg {
			left: 75%;
			top: 75%;
		}
		&-content{
			&-info{
				width: 100%;
				text-align: center;
				margin-left: 0;
				h2{
					font-size: 4vw;
					text-align: center;
				}
			}
		}
		.door .btn-base{bottom: 20%;}	
  }
}

@media screen and (max-width: 767px ) {
	.homepage{
	#homepage-video-bg {
		left: 100%;
		top: 68%;
	} 
	&-content{
		&-info{
			h2{
				font-size: 30px;
				padding: 10px 0;
				text-shadow: 1px 1px 2px #000;
			}
		}
	}
	.door .btn-base{bottom: 10%;}	 
	.btn-play-link{display: none;}	
	.btn-play-icon{border: 2px solid #fff;}
}
}
@media screen and (max-width: 600px ) {
	.homepage{
	#homepage-video-bg {
		left: 120%;
	} 
}
}
@media screen and (max-width: 479px ) {
		#homepage-video-bg {
		display: none;}
		.homepage{
			&-content{
			  &-info{
			  	position: absolute;
			  	width: 100%;
			  	margin: 0 auto;
			  	top: 0%;
			  	left: auto;
			  	text-align: center;
			  	h2{
			  		font-size: 6vw;
	  		    text-align: center;
	  		    padding: 0;
			  	}
			  }
			}
			&-video{
				&-container{
						width: 100%;
						height: 100vh;
						background: url(../../images/bg_home.jpg) no-repeat #edeeff 20% 0;
						background-size: cover;			
				}
			}		
		}		
}



#expohall-invitation{
  animation: expohall-invitation 3s linear infinite;
}
#expohall-invitation:hover{
	background-position: 100% -34px;
}
@keyframes expohall-invitation {
 0% { color: #1d7bb4; transform: scale(1);}
 50% { color: #1c7eba; transform: scale(1.5); }
 100% { color: #218acb; transform: scale(1);}
} 


