.main-stand{
  .cd-main{
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-color: #e2e4ff !important; 
    background-size: cover !important;
    padding-left: 0;
  } 
  
  #main-content.bg-stand .logo-wrapper{
    bottom: 100px;
    margin: 0 auto;
    top: auto;    
  }
  #main-content.bg-stand .buttons-wrapper{
    bottom: 55px;
    top: auto;
  }
}


@media screen and (max-width: 1169px ) {
  #main-content{
    padding-top: 125px;
  }
}

@media screen and (max-width: 991px ) {  
  #main-content{
    padding-top: 150px;
  }
  .main-stand{
    .cd-main{
      padding-left: 120px;
    }
  }
  .manager-slider{
    top: 205px;
  }  
  .main-stand{
    .btn-base, .btn-base:active, .btn-base:visited, .btn-base:focus{
      font-size: 12px;
    }
  }   
}



@media screen and (max-width: 478px ) {
  .main-stand{
    .btn-base, .btn-base:active, .btn-base:visited, .btn-base:focus{
      font-size: 10px;
    }
     #main-content.bg-stand .logo-wrapper{
    top: 100px;
    bottom: auto;
  }
  }
  #online-help-btn{
    display: none;
  }
 
  .company-name{
    display: none;
  }
  .manager-slider .manager-slick-slider .slick-next{
    left: 190px;
  }
  .manager-slider .manager-slick-slider .slick-prev{
    left: auto;
    right: 185px;
  }
}

@media screen and (max-width: 350px ) {
  .main-stand{
    #main-content.bg-stand .buttons-wrapper{
      bottom: 85px;
      top: auto;
    }
    .btn-base.left-arrow{
      padding-left: 30px;
    }
    .btn-base.right-arrow{
      padding-right: 42px;
    }
  }
}
  