body{
  min-width: 100%;
  max-width: 100%;
  min-height: auto;
}
.main-stand{
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-color: #e2e4ff !important; 
  background-size: cover !important;
  #header{
    left: 200px;
  }
  .main-menu.authorization-menu{
    padding: 0.5em;
    margin-right: 0;
  }
  .cd-section{
    padding-left: 0;
    overflow-y: visible;
  }
  .left-nav{height: 64%;}
  #main-content.bg-stand .logo-wrapper{
    bottom: 100px;
    margin: 0 auto;
    top: auto;    
  }
  #main-content.bg-stand .buttons-wrapper{
    bottom: 55px;
    top: auto;
  }
}


@media screen and (max-width: 1169px ) {
  #main-content{
    padding-top: 125px;
  }
}

@media screen and (max-width: 991px ) {  
  .left-panel-button:hover,
  .left-panel{
    width: 120px;    
  }
  .main-stand #header{
    left: 120px;
  }  
  .cd-main{
    padding-left: 120px;
  }
  #main-content{
    padding-top: 150px;
  }
  .manager-slider{
    top: 40%;
  }  
  .main-stand{
    .btn-base, .btn-base:active, .btn-base:visited, .btn-base:focus{
      font-size: 12px;
    }
  }
  .navbar-brand{
    float: none;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  
}


@media (min-width: 768px) and (max-width: 991px){
  .navbar-header{
    float: none;
  }
}


@media screen and (max-width: 767px ) {
  .navbar{
    margin-top: 45px;
  }
  .main-stand .main-menu.authorization-menu{
    position: absolute;
    right: 50%;
    margin-right: -50px;
  }
  
}
@media screen and (max-width: 478px ) {
  .main-stand{
    .btn-base, .btn-base:active, .btn-base:visited, .btn-base:focus{
      font-size: 10px;
    }
  }
  #online-help-btn{
    display: none;
  }
  #main-content.bg-stand .logo-wrapper{
    top: 100px;
    bottom: 0;
  }
  .company-name{
    display: none;
  }
  .manager-slider .manager-slick-slider .slick-next{
    left: 190px;
  }
  .manager-slider .manager-slick-slider .slick-prev{
    left: auto;
    right: 185px;
  }
}

@media screen and (max-width: 350px ) {
  .main-stand{
    #main-content.bg-stand .buttons-wrapper{
      bottom: 85px;
      top: auto;
    }
    .btn-base.left-arrow{
      padding-left: 30px;
    }
    .btn-base.right-arrow{
      padding-right: 42px;
    }
  }
}
  