html{
	height: 100%;
}
.homepage{	
	margin: 0;
	padding: 0;
	text-align: center;
	height: 100vh;
	&-content{
		position: relative;	
		width: 100%;
		height: 100%;
	  &-info{
	  	position: absolute;
	  	width: 50%;
	  	top: 10%;
	  	left: 40%;
	  	text-align: left;
	  	h2{
	  		color: #026fb3;
	  		font-size: 2.5vw;
	  		line-height: 1.5;
	  		text-align: left;
	  		text-transform: uppercase;
	  		border: none;
	  		padding-bottom: 30px;
	  	}
	  	.btn-play-link{
	  		color: #494949;	  		
	  	}
	  	.btn-play{
	  		&:hover{
	  			.btn-play-link{
  				color: #55d17d;}
  				.btn-play-icon{
  					background-color: #55d17d;
  				}
	  		}
	  	}
	  }
	}
	&-video{
		&-container{
				position: relative;
				width: 100%;
				height: 100%;
				background: url(../../images/bg_home.jpg) no-repeat #edeeff center center;
				background-size: cover;
				z-index: -150; 
		}
	}
	#homepage-video-bg {
		position: fixed;
	  transform: translateX(-50%) translateY(-50%);
	  top: 50%;
	  left: 50%;
	  min-width: 100%;
	  min-height: 100%;
	  width: 100%;
	  height: auto;
	  z-index: -100; 
		}

		.door .btn-base{
			position: absolute;
			bottom: 0;
			right: 10%;
			z-index: 2;
			padding-right: 80px;
		}

		.btn-base.right-arrow{
			background: url(../../images/arrow-sprite.png) no-repeat 100% -34px;
		}
		       
		.expohall-btn{
			text-transform: uppercase;
			font-weight: 700;
			font-size: 20px;
			color: #23527c;
			&:hover{
				text-decoration: none;
			}
		}
}

@media screen and (max-width: 479px ) {
		#homepage-video-bg {
		display: none;}
		.homepage{
			&-content{
			  &-info{
			  	position: absolute;
			  	width: 100%;
			  	margin: 0 auto;
			  	top: 0%;
			  	left: auto;
			  	text-align: center;
			  	h2{
			  		font-size: 6vw;
	  		    text-align: center;
	  		    margin-bottom: 80px;
			  	}
			  }
			}
			&-video{
				&-container{
						width: 100%;
						height: 100vh;
						background: url(../../images/bg_home.jpg) no-repeat #edeeff 20% 0;
						background-size: cover;			
				}
			}
		}
		.homepage .door .btn-base{
			bottom: -90%;
		}
}

#expohall-invitation{
  animation: expohall-invitation 3s linear infinite;
}
#expohall-invitation:hover{
	background-position: 100% -34px;
}

@keyframes expohall-invitation {
 0% { color: #1d7bb4; transform: scale(1);}
 50% { color: #1c7eba; transform: scale(1.5); }
 100% { color: #218acb; transform: scale(1);}
} 


