.modal{
	&-dialog{
		
	}
}


.hide{
	display: none !important;
}



.popover{
	max-width: 320px; 
	text-align: center;
		&-dialog{

		}
		&-heading{
			text-transform: uppercase;
			color: #000;
		}		
		&-content{
			background-color: #FFF;
    		padding: 4px 6px;
    	}
		&-img{
			width: 100%;
			img{
				max-width: 100%;
				padding-left: 10px !important;
			}
		}
		&-text{
			text-align: justify;
		    margin-bottom: 20px;
		}
		&-footer{
			a{
				color: blue;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}


	.cover {
	/* задний фон по умолчанию не виден, его цвет черный, он занимает всё пространство по высоте и ширине, его позиция фиксирована , то есть при скроллинге он никуда не денется */
	display: none;
	height:100%;
	width:100%;
	z-index:10;
	position: fixed;
	top:0px;
	left:0px;
	background:#000;
	}

