.navbar{
	background-color: transparent;
	border: none;
	&-brand{
		padding: 0;
		margin-right: 50px;
		&-dscr{
			text-transform: none;
	    color: #026fb3;
	    font-size: 9px;
	    line-height: 11px;
	    display: block;
	    padding-top: 4px;
		}
	}
	&-nav{
	    padding: 0.5em 0;
			li>a{
				color: #262626;
				font-size: 14px;
				text-transform: uppercase;
				padding: 9px 15px;
			}
			li>.dropdown-menu{
				border-bottom: 3px solid #6c6;	
				padding: 0;			
			}
	}
}

@media (min-width: 768px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}


@media screen and (max-width: 991px) {
	.navbar{
		&-nav{
			li>a{
				padding: 5px;
		}
	}
}
}
@media screen and (max-width: 767px) {
.navbar-nav .open .dropdown-menu{
		text-align: center;
	}
}
@media screen and (max-width: 479px ) {
	.navbar-default .navbar-toggle{
    float: none;
    text-align: center;
    margin: 0 auto 20px;
    display: block;
	}
	.navbar-brand{
		float: none;
    display: block;
    text-align: center;
    margin: 0 auto 20px;
    img{display: inline-block;}}
}



.navbar-nav{
   padding: 0.5em 0;
}


.navbar-default .navbar-nav li > a:hover, 
.navbar-default .navbar-nav li > a:focus{
	color: #6c6;
}
.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover{
	color: #6c6;
  background-color: transparent;
}
.navbar-default .navbar-nav .dropdown-menu > li > a:focus, 
.navbar-default .navbar-nav .dropdown-menu > li > a:hover{
	color: #fff;
	background-color: #6c6;
}

@media screen and (max-width: 767px) {
	.navbar-default .navbar-nav>.open>a, 
	.navbar-default .navbar-nav>.open>a:focus, 
	.navbar-default .navbar-nav>.open>a:hover{
	  border-bottom: 1px solid #6c6;
	}
}


.main-menu.authorization-menu{
	position: absolute;
  right: 0;
  z-index: 1;
  margin-right: 30px;
  display: inline-block;
  padding: 1em 0;

  li{
  	float: left;
  	list-style-type: none;
  }
  li>a{
    padding: 10px;

  }
}
@media screen and (max-width: 767px ) {
  .main-menu.authorization-menu{
	  right: 50px;
	}
}

@media screen and (max-width: 479px ) {
  .main-menu.authorization-menu{
	  position: static;
    z-index: 1;
    display: block;
    text-align: center;
    margin: 10px auto;
	    li{
	  	float: none;
	  	display: inline-block;
	  }
	}
}

    
    
    