body.map-body{
	font-family: "Open Sans";
	.popover{
		background-color: #6c6c6c;
		border-radius: 2px;
		box-shadow: 1px 1.7px 3.8px 0.2px rgba(0, 0, 0, 0.23);
		color: #fff;
		border-color: #6c6c6c;
	  &.top > .arrow {
	    border-top-color: #6c6c6c;
	    &:after {
	      border-top-color: #6c6c6c;
	    }
	  }
	}
}
sup{
	top: -1em;
	margin-left: 3px;
}
.commercial-slider{
	&-exh-info{
		position: relative;
		width: 340px;
		height: auto;
		margin: 0 auto;
		box-shadow: 2.5px 4.3px 20px rgba(0, 0, 0, 0.3);
		transition: all 1s ease-in-out;
		&:hover{
			.commercial-slider-caption{
				opacity: 1;
			}
		}	
	}
	&-caption{ 
	opacity: 0;
	width: 100%;
	height: 50%;
	background-color: rgba(0,0,0,.5);
	position: absolute;
	top: 25%;
	padding: 15px; 	
	text-align: left;
	color: #fff;
	transition: opacity .5s linear;
	&-title{
		font-size: 18px;
	}	
	&-info{
		font-size: 13px;
	}
	}
}

@media screen and (max-width: 479px ) {

}
.slick-slide{
	margin-bottom: 30px;
	.img-wrapper{
		width: 100%;
		height: 220px;
		img{
			width: 100%;
			height: 100%;					
		}		
	}
}
	.slick-prev:before {
	  content: " " !important;
	  display: block;
	  background: url("../../images/map/back.svg");
	  background-repeat: no-repeat;
    width: 20px;
    height: 20px;
	}
	.slick-next:before {
	  content: " " !important;
	  display: block;
	  background: url("../../images/map/next.svg");
	  background-repeat: no-repeat;
	  width: 20px;
    height: 20px;
	}

	.slick-dots li button:before{
		font-size: 50px !important;
		color: #55d17d !important;
		top: -20px !important;
	}
	.slick-dotted.slick-slider{
		margin-bottom: 60px !important;
	}


	
.map-participants{
	.form{		
		&-group{
			position: relative;
			margin-bottom: 40px;
		}
		.input-group{
			margin-bottom: 40px;
		}
		&-control{
			  border: none;
			  border-bottom: 1px solid #494949;
		    border-radius: 0;
		  	box-shadow: none;
		    background-color: transparent;
		    text-transform: uppercase;
        color: #a2a2a2;
		    &:focus{
		    	box-shadow: none;
		    	border-color: #494949;
		    }
		}
		&-before{
			position: absolute;
			left: 0;
			top: -20px;	
			color: #a2a2a2;
		}	
		.btn{
	    background-color: transparent;
	    border-radius: 0;
	    border: none;
	    border-bottom: 1px solid #494949;
	    color: #000;
	    padding: 9px 10px;
	    &:focus{
	    	outline: none;
	    }
		}
		.btn-tooltip{
			color: #a2a2a2;
			padding: 0;
			border-bottom: 0;
			font-size: 18px;
			&:hover{
				color: #55d17d;
			}
		}	
		.btn-search{
			color: #55d17d;
			&:hover{
				opacity: 0.75;
			}
		}
		.btn-icon{
			color: #a2a2a2;
			padding: 8px 0;
		}
	}
}


.map{
	&-info{
		text-align: center;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		background-attachment: fixed;
		padding: 5% 0;
		color: #fff;
		margin-bottom: 3%;
		&-overlay{
			position: relative;
			z-index: 1;
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: -1;
				opacity: 0.5;
				background-color: #000;		
			}
		}
	}
	&-heading{
		font-size: 60px;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 1%;
		&-divider{
			width: 170px;
			height: 0;
			border-bottom: 2px dotted #fff;
			margin: 0 auto;
			margin-bottom: 1.5%;
		}
	}	
	&-desc{
		font-size: 14px;
	}
	&-title{
		color: #026fb3;
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 1.5;
	}
	&-subtitle{
		color: #7b7b7c;
		font-size: 13px;
		margin-bottom: 15px;
	}
	&-variants{
		margin-bottom: 2%;
		&-item{
			text-transform: uppercase;
			width: 240px;
			margin: 0 auto;
		}
		&-img{
			display: inline-block;
			margin-right: 20px;
			margin-bottom: 20px;
			margin-top: -5px;
			vertical-align: top;
			}
			&-link{
				color: #6c6c6c;
				transition: all .25s linear;
				&:hover{
					cursor: pointer;
					color: #55d17d;
					text-decoration: none;
					border-bottom: 0.75px dashed #55d17d;
				}
			}
			&-btn{
				width: 125px;
				margin: 0 auto;
				display: none;
  			text-align: center;
  			color: #55d17d;
  			margin-bottom: 20px;
			}
		}
	&-head{
		    height: 55px;
	}
	&-link{
		margin-bottom: 20px;
		a{
			color: #55d17d;
			font-size: 13px;
			text-decoration: underline;
			&:hover{
				text-decoration: underline;
				color: #6c6c6c;
			}
		}
	}
	&-participants{
		&-info{
			position: relative;
			color: #55d17d;
			font-size: 24px;
			font-weight: 700;
			text-transform: uppercase;
	    margin-bottom: 20px;
			&-line{
				position: absolute;
				top: 16px;
				left: 22%;
				display: block;
				width: 78%;
				height: 1px;
				background: #55d17d;
			}
			.line2{
				width: 73%;
				left: 27%;
			}
		}		
		&-premium{			
			.btn{
				margin: 10px 0 20px;
			}			
			&-wrap{
			display: inline-block;			
			height: 250px;
			line-height: 300px;
			}
			&-img{
				display: inline-block;
				vertical-align: middle;
			}
		}
		&-standart{
			margin-bottom: 80px;
			.title-min{
				font-size: 14px;
			}
			&-wrap{
			display: inline-block;			
			height: 75px;
			line-height: 75px;
			}
			&-img{
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}
.label{
			border-radius: 10px;
			margin-bottom: 1em;
	    margin-left: 0.5em;
		}

@media screen and (max-width: 1199px ) {
	.map{
		&-participants{
			&-info{
				&-line{
					display: none;
				}
				.line2{
					display: none;
				}
			}
		}
	}
}
@media screen and (max-width: 991px ) {
	.map{
		&-participants{
			&-premium{
				margin-bottom: 20px;
				&-wrap{
				height: auto;
				line-height: 1;
				}
			}
		}
	}
}

@media screen and (max-width: 767px ) {
	.map{
		&-variants{
			&-btn{
				display: block;
			}
		}
	}
}
@media screen and (min-width: 768px ) {
 .collapse{
 	display: block;
 }
}

	









