body{
  min-width: 100%;
  max-width: 100%;
  min-height: auto;
}

@media screen and (max-width: 1300px ) {
  .page-title-wrapper{
    padding-top: 20px;
  } 
}

@media screen and (max-width: 1169px ) {
  .page-title-wrapper{
    height: 182px;
    padding-top: 10px;
  }
  .opacity-color-cover{
    height: 265px;
  }
}

#header{
    left: 200px;
  }
.main-menu.authorization-menu{
  padding: 0.5em;
  margin-right: 0;
}
.cd-section{
  padding-left: 0;
  overflow-y: visible;
}
.left-nav{height: 64%;}

.cd-main{
    padding-left: 170px;
  }

#main-content.stand-page{
  min-width: 100%; 
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;  
  .button-base.white{
    background-color: transparent;
    &:hover{
      background-color: #FFF; 
    } 
  }  
}

#main-content.stand-page .page-title-button-wrapper .btn-base:hover{
   color: #727272;
   background: url(https://expouniverse.cf/bundles/sitebundlefrontend/images/arrow-sprite.png) no-repeat scroll 0 -605px;
}


@media screen and (max-width: 991px ) {    
  .left-panel-button:hover,
  .left-panel{
    width: 120px;    
  }
  #header{
    left: 120px;
  }  
  .cd-main{
    padding-left: 120px;
  }
  .navbar-brand{
    float: none;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  #main-content.bg-catalog .page-title-wrapper .button-base {
      margin-top: 0;
  }
  .page-content-area-outer{
    padding-bottom: 50px;
    border: 0;
  }
  #main-content.bg-catalog .button-outer{
    float: none;
    .button-base, 
    .button-base:active, 
    .button-base:visited, 
    .button-base:focus{
      width: 180px;
      padding: 5px 10px;
    }    
  }
}




@media (min-width: 768px) and (max-width: 991px){
  .navbar-header{
    float: none;
  }
}


@media screen and (max-width: 767px ) {
  .navbar{
    margin-top: 45px;
  }
  .main-menu.authorization-menu{
    position: absolute;
    right: 50%;
    margin-right: -50px;
  }
  #main-content.bg-contacts .btn-base {
   height: auto;
  }
  #main-content.stand-page .page-title-wrapper .btn-base {
    margin-top: 0;
  }
  .page-title-wrapper{
    padding-top: 60px;
  }
  .button-question, 
  a.button-question:visited, 
  a.button-question:active, 
  a.button-question:focus{
    bottom: 90px;
  }
  .company-contacts .icons{
    float: none;
    margin: 0 auto;
  }
  #main-content.bg-contacts .company-contacts{
    width: 180px;
  }
  .company-contacts .dscr{
    width: 100%;
    padding-left: 0;
  }
  .company-contacts .phone .dscr-outer{
    padding-left: 0;
  }
  
}
