.partners{
	&-block{
		text-align: center;
		a:focus{
			outline: none !important;
		}
		a{
			display: inline-block;
		}
	}
	&-heading{
		color: #026fb3;
		font-size: 24px;
		font-weight: 400;
		text-transform: uppercase;
		margin-bottom: 30px;
		&-small{
			color: #1a7cbb;
			font-size: 14px;
			font-weight: 400;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
	}
	&-description{
		color: #47474b;
		font-size: 14px;
		margin-bottom: 60px;
	}
	&-btn{
		margin-bottom: 10px;
	}
	&-general{

	}
	&-exhibition{

	}
	&-info{
		
	}
	&-img{
		height: 200px;
		line-height: 200px;
		position: relative;
		img{
			&:hover,
	  	&:focus,
	  	&.focus{
				filter: grayscale(1);
				/* filter: brightness(0.1); */
			}
		}
		&-min{			
			position: relative;
			height: 100px;
			line-height: 100px;
			img{
				&:hover,
		  	&:focus,
		  	&.focus{
					filter: grayscale(1);
				}	
			}			
		}
	}
	&-caption{
		color: #262626;
		font-size: 14px;
		text-transform: uppercase;
		margin-bottom: 70px;
	}

}


@media screen and (max-width: 767px ) {
	.partners{
		&-caption{
			margin-bottom: 0;
		}
		&-general,
		&-exhibition,
		&-info{
		margin-bottom: 40px;
		}
		&-img{		
			width: 80%;
			margin: 0 auto;
			height: 185px;
			line-height: 185px;
		}
		&-img-min{		
			width: 70%;
			margin: 0 auto;
		}
	}
}

.hide{
	display: none !important;
}

.popover{
	max-width: 330px; 
	text-align: center;
	z-index: 100;
		&-dialog{
						font-size: 12px;
						width: 320px;
						line-height: 1.5em;

		}
		&-heading{
			color: #6c6c6c;
			font-size: 14px;
			font-weight: 400;
			line-height: 1.5em;
			text-transform: uppercase;
		}		
		&-content{
			background-color: #FFF;
    		padding: 4px 9px;
    	}
		&-img{
			width: 100%;
			img{
				max-width: 100%;
				padding-left: 20px !important;
			}
		}
		&-text{

			text-align: justify;
		    margin-bottom: 20px;
		}
		&-footer{
			a{
				color: #026fb3;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
	
	#myModal{
		.modal{
			&-dialog{
				width: 434px;
				background-color: white;
				border: 1px solid #63646d;		
			}
			&-footer{
				text-align: center;
			}
			.form-group {
			    display: flex;
			    height: 55px;
			}

			.control-label {
			    font-size: 16px;
			    font-weight: 400;
			    opacity: 0.4;
			    pointer-events: none;
			    position: absolute;
			    transform: translate3d(0, 22px, 0) scale(1);
			    transform-origin: left top;
			    transition: 240ms;
			}

			.form-group.focused .control-label {
			    opacity: 1;
			    transform: scale(0.75);
			}

			.form-control {
			    align-self: flex-end;
			}
		}
	}
	@media screen and (min-width: 768px) {
		.modal{
			&-dialog{
				width: 434px;			
		}
	}
	}










