.partners{
	&-block{
		text-align: center;
	}
	&-heading{
		color: #026fb3;
		font-size: 24px;
		font-weight: 400;
		text-transform: uppercase;
		margin-bottom: 30px;
		&-small{
			color: #1a7cbb;
			font-size: 14px;
			font-weight: 400;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
	}
	&-description{
		color: #47474b;
		font-size: 14px;
		margin-bottom: 60px;
	}
	&-btn{
		margin-bottom: 10px;

		.btn{
			display: inline-block;
			color: #fff;;
	    background-color: #63c980; 
	    border-color: #55d17d;
		  &:hover,
		  &:focus,
		  &.focus {
		    color: #55d17d;;
		    background-color: transparent; 
		  }
	    text-transform: uppercase;
	    padding: 9px 18px;
	    line-height: 1.1em;
	    font-size: 14px;
	    border-radius: 20px;
  		transition: all .3s linear;
		}
	}
	&-general{

	}
	&-exhibition{

	}
	&-info{
		
	}
	&-img{
		height: 200px;
		line-height: 200px;
		position: relative;
		img{
			&:hover,
	  	&:focus,
	  	&.focus{
				filter: grayscale(1);
				/* filter: brightness(0.1); */
			}
		}
		&-min{			
			position: relative;
			height: 100px;
			line-height: 100px;
			img{
				&:hover,
		  	&:focus,
		  	&.focus{
					filter: grayscale(1);
				}	
			}			
		}
	}
	&-caption{
		color: #262626;
		font-size: 14px;
		text-transform: uppercase;
		margin-bottom: 70px;
	}

}


@media screen and (max-width: 767px ) {
	.partners{
		&-caption{
			margin-bottom: 0;
		}
		&-general,
		&-exhibition,
		&-info{
		margin-bottom: 40px;
		}
		&-img{		
			width: 80%;
			margin: 0 auto;
			height: 185px;
			line-height: 185px;
		}
		&-img-min{		
			width: 70%;
			margin: 0 auto;
		}
	}
}




