.stand-catalog{
	.cd-main{
		padding-left: 0;
	}
}


@media screen and (max-width: 1169px ) {
	.stand-catalog .page-title-wrapper{
    padding-top: 40px;
  }
}

@media screen and (max-width: 991px){
	.stand-catalog{
		.cd-main{
			padding-left: 120px;
		}
	}
}
