@media screen and (max-width: 991px){
	.stand-catalog{
		.cd-main{
			padding-left: 120px;
		}
	}
}



@media screen and (max-width: 767px){
	.catalog-wrapper .catalog-items-list-outer {
	    height: 330px;
	    width: 100%;
	    margin: 0;
     padding: 10px;
	}
	.catalog-wrapper .catalog-items-list {
	    width: 90%;
	    margin: auto;
	}
	.catalog-wrapper .catalog-items-list li{
		width: 100%;
	}

}

