
.video-section{
	&-wrapper{
		background: #f39c12;
		margin-top: 30px;

	}
	&-inner{
		padding: 2em;
	}
	&-inner-bg{
		background: url(../images/bg-video.png) repeat-y right top;
		background-size: 29% 100%;
		padding: 2em;
	}
	&-letter{
		padding-top: 11px;
		text-align: center;
		margin-left: 5px;
		margin-top: 15px;
		background: #f39c12;
		color: #fff;
		font-size: 14px;
		line-height: 14px;
		width: 40px;
		height: 40px;
		border: 1px solid #e67e22;
		border-radius: 50% !important;
	}
	&-title{
	color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 26px;
    text-align: right;
    padding: 8px 50px 0;
    span{
	    display: block;
	    font-size: 14px;
	    line-height: 16px;
	    padding-top: 8px;
    }
	}
	&-btns{
		padding-top: 3em;
	}
}

@media screen and (max-width: 767px ) {
	.video-section{
		&-wrapper{
			margin-top: 0;
		}
		&-letter{
		margin-left: 180px;
		margin-top: 0;
	}
		&-inner-bg{		
		background-size: 0;
	}
	}

}


.btn-play {
  color: #fff;
  padding: 8px 50px 0;
  &:hover{
  	color: #55d17d;
  	text-decoration: none;
  }
  &-icon{
  	background: url(../images/ic-play.png) no-repeat 53% center #494949;
    width: 70px;
    height: 70px;
    border-radius: 50% !important;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    &:hover{
    	    background-color: #55d17d;
    }
  }
  &-link{
  	display: inline-block;
    vertical-align: middle;
    padding-left: 30px;
    span{
    	font-size: 24px;
    	line-height: 26px;
    	padding-bottom: 7px;
    	display: block;
    	text-transform: uppercase;
    }
  }
}
