.error {
  width: 100vw;
  height: 100vh;
  background-color: #FFF; }
  .error-block {
    width: 100%;
    margin: 30vh 0;
    text-align: center;
    color: #fff; }
  .error-heading, .error-text {
    margin: 0; }
  .error-heading {
    font-size: 9vw;
    line-height: 1em;
    font-weight: 700;
    text-transform: uppercase; }
  .error-text {
    font-size: 1.75vw;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px; }
  .error-button a.btn {
    padding: 10px 60px; }

@media screen and (max-width: 767px) {
  .error-button a.btn {
    padding: 5px 15px;
    font-size: 11px; } }

@media screen and (max-width: 479px) {
  .error-block {
    margin: 35vh 0; }
  .error-button a.btn {
    padding: 4px 10px; } }
