.back-btn {
  color: #1c7ebb;
  font-size: 1.4rem;
  padding-left: 3em;
  text-transform: uppercase;
  background: url(../../images/arrow-sprite.png) no-repeat scroll 0 -5px; }

.application {
  width: 95%;
  margin: 0 auto;
  background-color: white;
  color: #646464;
  border-radius: 2px;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.75), 0 0 24px rgba(38, 52, 142, 0.39); }
  .application .alert {
    border: none;
    background-color: transparent;
    padding: 0;
    margin-bottom: 0; }
    .application .alert-wrap {
      border: 2px dashed yellow;
      padding-left: 30px; }
    .application .alert span {
      vertical-align: top;
      display: inline-block;
      line-height: 2;
      color: red;
      padding-left: 1em;
      font-size: 12px; }
    .application .alert-icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-image: url("../../images/application/danger.png");
      background-size: 100%;
      background-repeat: no-repeat; }
  .application-with-alert {
    position: relative; }
  .application-heading {
    color: #026fb3;
    font-size: 2.4rem;
    line-height: 2.5em;
    text-transform: uppercase; }
  .application-wrap-line {
    border-bottom: 1px solid #55d17d;
    margin-bottom: 1em; }
  .application-title {
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 0.5em;
    text-transform: uppercase; }
    .application-title.green {
      color: #55d17d; }
  .application-text {
    color: #6c6c6c;
    font-size: 1.4rem;
    line-height: 1.125em;
    margin-bottom: 1em; }
  .application-caption-text {
    font-size: 1.2rem; }
  .application-btn {
    text-transform: none;
    width: 171px;
    padding: 9px;
    color: #646464 !important; }
    .application-btn:active, .application-btn:hover, .application-btn:focus {
      text-transform: none;
      padding: 9px;
      color: #fff !important; }
    .application-btn-chosen {
      background-color: #28b957 !important;
      color: #fff !important; }
      .application-btn-chosen:before {
        content: '';
        display: inline-block;
        width: 22px;
        height: 16px;
        background-image: url(../../images/application/spritesheet.png) !important;
        background-repeat: no-repeat !important;
        background-position: -10px -113px !important;
        margin-right: 8px; }
  .application-edit {
    cursor: pointer;
    height: 30px;
    margin-bottom: 10px; }
    .application-edit .sprite4-pencil-h {
      display: none; }
    .application-edit:hover .sprite4-pencil-h {
      display: inline-block;
      margin-top: -6px;
      margin-left: -9px; }
    .application-edit:hover .sprite4-pencil {
      display: none; }
  .application-delete {
    cursor: pointer; }
    .application-delete .sprite4-basket-h {
      display: none; }
    .application-delete:hover .sprite4-basket-h {
      display: inline-block;
      margin-top: -9px;
      margin-left: -11px; }
    .application-delete:hover .sprite4-basket {
      display: none; }
  .application-pavilion-icon i {
    display: inline-block; }
  .application-pavilion-name {
    color: #55d17d; }
  .application-pavilion-item {
    height: 40px; }
  .application-tarifs {
    width: 90%;
    margin: 0 auto 5em;
    background-color: #eefdff;
    border: 1px solid #29ddf6;
    padding: 1.5em; }
    .application-tarifs .application-btn {
      margin-left: -1.75em; }
    .application-tarifs-item {
      margin-bottom: 2em; }
      .application-tarifs-item-chosen .application-tarifs-name {
        color: #28b957; }
      .application-tarifs-item-chosen .application-tarifs-info {
        color: #28b957; }
    .application-tarifs-info {
      padding-bottom: 1.5em; }
    .application-tarifs-price {
      color: #28b957;
      font-size: 2rem; }
    .application-tarifs-name {
      color: #026fb3;
      font-size: 16px;
      text-transform: uppercase; }
      .application-tarifs-name span {
        color: #c2cbcd; }
  .application-managers {
    width: 80%;
    margin: 0 auto 5em;
    border-bottom: 1px solid cyan; }
    .application-managers .application-text {
      margin-bottom: 3em; }
    .application-managers-item {
      margin-bottom: 2em;
      color: #96a3af; }
    .application-managers-name {
      color: #646464;
      text-transform: uppercase; }
  .application .application-managers-info,
  .application .application-managers-controls,
  .application .application-managers-btn {
    height: 130px;
    padding: 1.5em 0;
    margin-bottom: 1em; }
  .application-advertisement {
    width: 90%;
    margin: 0 auto; }
  .application .table {
    margin-bottom: 5em; }
    .application .table th {
      text-align: center;
      padding: 8px 0;
      line-height: 1.1 !important;
      vertical-align: middle; }
    .application .table-bordered {
      border-color: cyan; }
    .application .table thead tr:first-child,
    .application .table tbody tr:last-child {
      background-color: #eefdff; }
  .application-minimal {
    text-align: center;
    color: #28b957;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    z-index: 1; }
    .application-minimal small {
      font-size: 12px; }
    .application-minimal:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      opacity: 0.41;
      background-color: white; }
  .application-medium {
    text-align: center; }
  .application-prime {
    text-align: center; }
  .application-services {
    padding-left: 1.5em !important;
    padding-right: 1.5em !important; }
    .application-services.text-center {
      font-size: 2.4rem;
      padding-left: 0 !important; }
    .application-services span {
      float: right;
      margin-top: -8px;
      margin-right: -10px;
      color: #c2cbcd; }
  .application-summary {
    border: 1px dashed cyan;
    padding: 1em 2.5em;
    font-size: 1.6rem;
    margin-bottom: .5em; }
    .application-summary .application-wrap-line {
      margin-bottom: 2em; }
    .application-summary-heading strong {
      font-size: 2.4rem;
      color: #55d17d; }
    .application-summary-price {
      color: #55d17d; }
      .application-summary-price span {
        font-size: 1.2rem; }
      .application-summary-price strong {
        font-size: 2.4rem;
        border-bottom: 1px solid #00deff; }
  .application-agreement {
    margin-bottom: 5em; }
    .application-agreement-checkbox {
      cursor: pointer;
      margin-bottom: 2em; }
      .application-agreement-checkbox input[type="checkbox"] {
        display: none; }
      .application-agreement-checkbox span {
        line-height: 2; }
        .application-agreement-checkbox span:before {
          margin-right: .5em;
          margin-top: .25em;
          padding-left: .05em;
          width: 19px;
          height: 19px;
          border: 1px solid #b3b6ba;
          display: inline-block;
          line-height: 1;
          content: '';
          float: left; }
      .application-agreement-checkbox input[type="checkbox"]:checked + span::before {
        font-family: 'Glyphicons Halflings';
        content: '\e013';
        color: #55d17d;
        font-weight: 100; }
  .application-submit .application-btn {
    font-size: 24px;
    width: 30%;
    padding: 20px; }
  .application-modal-dialog {
    width: 50%;
    margin: 3em auto;
    padding: 2em 4em;
    border-radius: 2px;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.75), 0 0 24px rgba(38, 52, 142, 0.39); }
  .application-modal-content {
    border: 1px solid #00deff; }
  .application-modal-wrap {
    padding: 0 5em; }
  .application-modal-title {
    color: #55d17d;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 2.813em; }
  .application-modal-name {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.5em;
    margin-bottom: .5em; }
  .application-modal-email {
    font-size: 1.4rem;
    line-height: 1.5em;
    font-weight: 600;
    margin-bottom: .25em; }
    .application-modal-email span {
      font-weight: 800; }
  .application-modal-info {
    margin-bottom: 3em; }
  .application-modal-footer {
    color: #668ff7; }
    .application-modal-footer span {
      border-bottom: 1px solid #55d17d;
      display: inline-block;
      padding: 5px 20px; }
  .application-modal-logo {
    text-align: right;
    margin-bottom: 1em;
    margin-right: 1em; }
    .application-modal-logo img {
      display: inline-block; }

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border: none;
  border-right: 1px solid cyan; }

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #ebebeb; }

@media screen and (max-width: 1179px) {
  .application .alert {
    position: static; } }

@media screen and (max-width: 991px) {
  .application-tarifs-btn {
    text-align: center; }
    .application-tarifs-btn .application-btn {
      margin-left: 0; }
  .application-modal-dialog {
    width: 70%; }
  .application-submit .application-btn {
    width: 40%; } }

@media screen and (max-width: 767px) {
  .application .application-managers-info,
  .application .application-managers-btn {
    height: auto;
    padding: 0; }
  .application .application-managers-controls {
    height: 60px;
    padding: 0; }
  .application-managers {
    text-align: center; }
  .application-modal-dialog {
    width: 90%;
    padding: 1em 2em; }
  .application-modal-wrap {
    padding: 0 2.5em; }
  .application-modal-title {
    line-height: 1.5em; }
  .application-edit {
    height: 30px;
    margin-bottom: 10px; }
    .application-edit .sprite4-pencil-h {
      display: none; }
    .application-edit:hover .sprite4-pencil-h {
      margin-left: -5px; }
  .application-delete:hover .sprite4-basket-h {
    margin-left: -5px; }
  .application-submit .application-btn {
    width: 60%; }
  .application-modal-logo {
    text-align: center; } }

.modal-btn {
  outline: none; }
  .modal-btn:focus {
    outline: none; }

#standartModal .modal-dialog,
#premiumModal .modal-dialog,
#topModal .modal-dialog {
  width: 90%;
  margin: 0 auto; }

#standartModal .modal-content,
#premiumModal .modal-content,
#topModal .modal-content {
  padding: 50px 100px; }

#standartModal .map-participants-premium,
#standartModal .map-participants-standart,
#premiumModal .map-participants-premium,
#premiumModal .map-participants-standart,
#topModal .map-participants-premium,
#topModal .map-participants-standart {
  padding: 10px 60px; }

#standartModal .map-participants-premium .map-title,
#premiumModal .map-participants-premium .map-title,
#topModal .map-participants-premium .map-title {
  height: 50px; }

#standartModal .map-participants-premium-wrap,
#premiumModal .map-participants-premium-wrap,
#topModal .map-participants-premium-wrap {
  line-height: 250px; }

#standartModal .map-participants-premium-img,
#premiumModal .map-participants-premium-img,
#topModal .map-participants-premium-img {
  background-image: url("../../images/application/logo-lg.png");
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 100%; }

#standartModal .map-participants-standart-img,
#premiumModal .map-participants-standart-img,
#topModal .map-participants-standart-img {
  background-image: url("../../images/application/logo-min.png");
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: 100%; }

#premiumModal .map-participants-premium {
  border: 2px dashed #e74c3c;
  position: relative; }
  #premiumModal .map-participants-premium .tarif-label {
    position: absolute;
    display: inline-block;
    width: 250px;
    height: 70px;
    background-color: #e74c3c;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 45%;
    left: -126px;
    text-align: center;
    vertical-align: middle;
    line-height: 5; }

#standartModal .map-participants-standart {
  border: 2px dashed #e74c3c;
  position: relative; }
  #standartModal .map-participants-standart .tarif-label {
    position: absolute;
    display: inline-block;
    width: 250px;
    height: 70px;
    background-color: #e74c3c;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 40%;
    left: -126px;
    text-align: center;
    vertical-align: middle;
    line-height: 5; }

#topModal .map-participants-top-wrap {
  border: 2px dashed #e74c3c;
  position: relative;
  padding: 73px 20px 0;
  margin: -73px -20px 0; }
  #topModal .map-participants-top-wrap .tarif-label {
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 40px;
    background-color: #e74c3c;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 45%;
    left: -101px;
    text-align: center;
    vertical-align: middle;
    line-height: 3; }

#topModal .map-participants-wrap-transparent {
  border: 2px dashed transparent; }

@media screen and (max-width: 767px) {
  #standartModal .modal-content,
  #premiumModal .modal-content,
  #topModal .modal-content {
    padding: 0 25px; }
  #standartModal .map-participants-standart:before {
    height: 60px;
    top: 98px;
    left: -122px;
    line-height: 4; }
  #premiumModal .map-participants-premium:before {
    height: 60px;
    top: 98px;
    left: -122px;
    line-height: 4; } }

#sliderModal button.close {
  outline: none; }
  #sliderModal button.close:focus {
    outline: none; }

#sliderModal a {
  color: #FFF; }

#sliderModal .modal-dialog {
  width: 80%;
  margin: 0 auto; }

#sliderModal .modal-content {
  padding: 8px; }

#sliderModal .modal-main {
  padding: 30px 60px; }

#sliderModal .modal-heading {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  border-bottom: 1px solid #55d17d;
  margin: 0 60px;
  padding: 30px 0; }

#sliderModal .modal-info {
  margin-bottom: 50px; }

#sliderModal .modal-slider-wrap {
  height: auto;
  box-shadow: 0 0 24px rgba(38, 52, 142, 0.39);
  padding: 20px 40px; }

#sliderModal .slick-dotted.slick-slider {
  margin-bottom: 0 !important; }

#sliderModal .commercial-slider-exh-info {
  width: 260px; }

#sliderModal .slick-slide .img-wrapper {
  height: 200px; }

#sliderModal .slick-prev, #sliderModal .slick-next {
  top: 45%; }

@media screen and (max-width: 767px) {
  #sliderModal .modal-main {
    padding: 30px; }
  #sliderModal .modal-heading {
    padding: 30px; }
  #sliderModal .modal-slider-wrap {
    padding: 20px 0; } }
