.btn {
  display: inline-block;
  color: #fff;
  background-color: #63c980;
  border-color: #55d17d;
  text-transform: uppercase;
  padding: 9px 18px;
  line-height: 1.1em;
  font-size: 14px;
  border-radius: 20px;
  transition: all .3s linear; }
  .btn:hover, .btn:focus, .btn.focus {
    color: #55d17d;
    background-color: transparent; }
  .btn-normal {
    background-color: transparent;
    border-color: #fff;
    padding: 9px 40px; }

.button-base,
.button-base:active,
.button-base:visited,
.button-base:focus {
  border-radius: 35px !important;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding: 9px 39px;
  overflow: hidden;
  cursor: pointer;
  transition: all .3s linear; }

.button-base.green-light {
  background: transparent;
  border: 1px solid #55d17d;
  color: #55d17d;
  display: inline-block; }

.button-base.green-light:hover {
  background: #55d17d;
  color: #fff; }

.button-base.gray {
  border: 1px solid #d4d4d4;
  color: #262626;
  background: #d4d4d4; }

.button-base.white {
  border: 1px solid #fff;
  color: #fff; }

.button-base.white:hover {
  background: #fff;
  color: #262626; }

.btn-base.left-arrow-white {
  padding-left: 50px;
  background: url(../images/arrow-sprite.png) no-repeat scroll 0 -326px;
  color: #fff; }

.btn-base.left-arrow-white:hover {
  color: #026fb3;
  background: url(../images/arrow-sprite.png) no-repeat scroll 0 -5px; }

.btn-base.left-arrow {
  padding-left: 50px;
  background: url(../images/arrow-sprite.png) no-repeat 0px -3px; }

.btn-base:hover {
  color: #55d17d; }

.btn-base.left-arrow:hover {
  background: url(../images/arrow-sprite.png) no-repeat 0px -62px;
  cursor: pointer; }
