.sprite3 {
  background-image: url(../images/about/spritesheet.png);
  background-repeat: no-repeat;
  display: block; }

.sprite3-icon-comfort {
  width: 66px;
  height: 66px;
  background-position: -5px -5px; }

.sprite3-icon-easy-conference {
  width: 66px;
  height: 66px;
  background-position: -81px -5px; }

.sprite3-icon-efficiency-mark {
  width: 66px;
  height: 66px;
  background-position: -5px -81px; }

.sprite3-icon-info {
  width: 66px;
  height: 66px;
  background-position: -81px -81px; }

.sprite3-icon-language {
  width: 66px;
  height: 66px;
  background-position: -157px -5px; }

.sprite3-icon-many {
  width: 64px;
  height: 64px;
  background-position: -157px -81px; }

.sprite3-icon-time {
  width: 66px;
  height: 66px;
  background-position: -157px -155px; }

.sprite3-icon-world {
  width: 66px;
  height: 66px;
  background-position: -233px -5px; }
