.stand-add {
  height: 248px; }

.sprite {
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: block; }

.sprite-card-icon1 {
  width: 30px;
  height: 30px;
  background-position: -5px -5px; }

.sprite-card-icon2 {
  width: 30px;
  height: 30px;
  background-position: -5px -45px; }

.sprite-card-icon3 {
  width: 30px;
  height: 30px;
  background-position: -5px -85px; }

.sprite-card-icon4 {
  width: 25px;
  height: 30px;
  background-position: -5px -125px; }

/* <i class="sprite sprite-card-icon1"></i>
<i class="sprite sprite-card-icon2"></i>
<i class="sprite sprite-card-icon3"></i>
<i class="sprite sprite-card-icon4"></i> */
